<!DOCTYPE html>
<html lang="en">

<% include ./partials/proteo_head %>
<body onresize=reSize()>

<% include ./partials/sidebar %>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left: 20em; margin-top:2.3em;" id="main">

  <!-- Chart Container -->
  <div class="w3-center w3-container" style="padding-right:0em;" id="<%=v_metrics[0]%>">

  <!---->

    
   
    <h1 class="w3-xlarge w3-text-black w3-center metric-heading heading w3-light-gray"><b><%=v_metrics[0]%></b></h1>
    
    <div class="w3-panel">
        <!-- Create custom colour checkboxes-->
        <% for(var i=0; i < v_components.length; i++) { %>
          <% if(i == 6) { %>
          </br> 
          <%}%>
          <!--<input class="w3-check" name="components_<%=v_metrics[0]%>" type="checkbox" id="<%=v_components[i]%>">
          <label class="w3-small" for="<%=v_components[i]%>"><%=v_component_colours[v_components[i]]%><%=v_components[i].replace("_"," ")%></label>-->
          <label class="container w3-large" for="<%=v_metrics[0]%>_<%=v_components[i]%>"><%=v_components[i].replace("_"," ")%>
            <input type="checkbox"  name="components_<%=v_metrics[0]%>" id="<%=v_metrics[0]%>_<%=v_components[i]%>">
            <span class="checkmark" style="background-color:<%=v_component_colours[v_components[i]]%>"></span>
          </label>
        <%}%>
        </br>
        <button class="w3-btn w3-round w3-tiny w3-text-white" style="margin-bottom:1em; background-color: black; display:none" id="Pep_<%=v_metrics[0]%>">All Peptides</button>
      </div>
      <a href="#" style="margin-right:1em;" onclick="changeView()"><strong>Change X-Axis</strong></a>
      <a href="#" onclick="allCharts()"><strong>Select All</strong></a>

    <div id="dash_<%=v_metrics[0]%>" class="chart_parent">
        
      <div id="chart_<%=v_metrics[0]%>">
        
    </div>
      <div name="overlayLine" class="overlay" id="overlay_<%=v_metrics[0]%>">
          <div class="overlay_text">...Loading</div>
        </div>
      
    </br>
      <div id="datecontrol_<%=v_metrics[0]%>"></div>
      
    </div>
    
  </br>
  <!--REFACTOR: 0 index not in loop-->
    <!--Checkboxes and All Peptide Button-->
    
    
    
    <!--Candle Chart-->
    <div class="chart_parent">

    <div id="candle_<%=v_metrics[0]%>"></div>
      
    <div name="overlayCandle" class="overlay" id="overlayCandle_<%=v_metrics[0]%>">
      <div class="overlay_text">...Loading</div>
    </div>
    
  </div>

  <!--Controller buttons for candle chart-->
  
  <button id="l_<%=v_metrics[0]%>" name="arrowButtons" class="w3-button w3-xlarge w3-circle"><i id="l_icon_<%=v_metrics[0]%>" class="fa fa-arrow-left"></i></button>
  <span style="background-color:black; color:white; border-radius:0.3em" class="w3-large" id="dateDisplay_<%=v_metrics[0]%>"></span>
  <button id="r_<%=v_metrics[0]%>" name="arrowButtons" class="w3-button w3-xlarge w3-circle"><i id="r_icon_<%=v_metrics[0]%>" class="fa fa-arrow-right"></i></button>
  <button id="rr_<%=v_metrics[0]%>" name="arrowButtons" class="w3-button w3-xlarge w3-circle"><i id="rr_icon_<%=v_metrics[0]%>" class="fa fa-arrow-right"></i><i id="rr_icon2_<%=v_metrics[0]%>" class="fa fa-arrow-right"></i></button>
  </div>
  
  <!-- Create containers for rest of charts -->
  <% for(var i=1; i < v_metrics.length; i++) { %>
	  <div class="w3-center w3-container" style="padding-top: 2.3em; padding-right:0em; margin-top:-2.3em" id="<%=v_metrics[i]%>">
    
		<h1 class="w3-xlarge w3-text-black w3-center metric-heading heading w3-light-gray"><b><%=v_metrics[i]%></b></h1>
  
    <div class="w3-panel">

        <!-- Create custom colour checkboxes-->
        <% for(var j=0; j < v_components.length; j++) { %>
          <% if(j == 6) { %>
          </br> 
          <%}%>
          <!--<input class="w3-check" name="components_<%=v_metrics[i]%>" type="checkbox" id="<%=v_components[j]%>">
          <label class="w3-small" for="<%=v_components[j]%>"><%=v_component_colours[v_components[j]]%><%=v_components[j].replace("_"," ")%></label>-->
          <label class="container w3-large" for="<%=v_metrics[i]%>_<%=v_components[j]%>"><%=v_components[j].replace("_"," ")%>
            <input type="checkbox"  name="components_<%=v_metrics[i]%>" id="<%=v_metrics[i]%>_<%=v_components[j]%>">
            <span class="checkmark" style="background-color:<%=v_component_colours[v_components[j]]%>"></span>
          </label>
        <%}%>
        </br>
        <button class="w3-btn w3-round w3-tiny w3-text-white" style="margin-bottom:1em; background-color: black; display:none" id="Pep_<%=v_metrics[i]%>">All Peptides</button>
      </div>
      <a href="#<%=v_metrics[i]%>" style="margin-right:1em;" onclick="changeView()"><strong>Change X-Axis</strong></a>
      <a href="#<%=v_metrics[i]%>" onclick="allCharts()"><strong>Select All</strong></a>
      
    <div id="dash_<%=v_metrics[i]%>" class="chart_parent">

      <!--Chart with overlay-->
        <div id="chart_<%=v_metrics[i]%>"></div>
        <div name="overlayLine" class="overlay" id="overlay_<%=v_metrics[i]%>">
            <div class="overlay_text">...Loading</div>
          </div>
       
    </br>
      <div id="datecontrol_<%=v_metrics[i]%>"></div>
  </div>
</br>

    </br>
    <!--Candle Chart-->
    <% if(v_metrics[i] != 'Area (normalised)'){%>
      <% if(v_metrics[i] != 'Height (normalised)'){%>
        <div class="chart_parent">
        <div id="candle_<%=v_metrics[i]%>"></div>
          
        <div name="overlayCandle" class="overlay" id="overlayCandle_<%=v_metrics[i]%>">
          <div class="overlay_text">...Loading</div>
        </div>
        
      </div>

      <!--Controller buttons for candle chart-->
      <button id="l_<%=v_metrics[i]%>" name="arrowButtons" class="w3-button w3-xlarge w3-circle"><i id="l_icon_<%=v_metrics[i]%>" class="fa fa-arrow-left"></i></button>
      <span style="background-color:black; color:white; border-radius:0.3em" class="w3-large" id="dateDisplay_<%=v_metrics[i]%>"></span>
      <button id="r_<%=v_metrics[i]%>" name="arrowButtons" class="w3-button w3-xlarge w3-circle"><i id="r_icon_<%=v_metrics[i]%>" class="fa fa-arrow-right"></i></button>
      <button id="rr_<%=v_metrics[i]%>" name="arrowButtons" class="w3-button w3-xlarge w3-circle"><i id="rr_icon_<%=v_metrics[i]%>" class="fa fa-arrow-right"></i><i id="rr_icon2_<%=v_metrics[i]%>" class="fa fa-arrow-right"></i></button>
      <%  } %>
    <%  } %>

    <!--Heat Table Height -->
    <% if(v_metrics[i] == 'Height (normalised)'){%>
      
      <!--Colour Scale-->
      <div id="table_scale<%=v_metrics[i]%>"></div>
    </br>
     
    
    <div class="chart_parent" style="margin-left:1em">
      <div id="table_<%=v_metrics[i]%>"></div>
      <div name="overlayTable" class="overlay" id="overlayTable_<%=v_metrics[i]%>">
        <div class="overlay_text">...Loading</div>
      </div>

    </div>
    
    <%  } %>

      <!--Heat Table Area -->
    <% if(v_metrics[i] == 'Area (normalised)'){%>
       
      <!--Colour Scale-->
      <div id="table_scale<%=v_metrics[i]%>"></div>
    </br>
      
    <div class="chart_parent" style="margin-left:1em">
      <div id="table_<%=v_metrics[i]%>"></div>
      <div name="overlayTable" class="overlay" id="overlayTable_<%=v_metrics[i]%>">
        <div class="overlay_text">...Loading</div>
      </div>
    </div>
     
    <%  } %>
	  </div>
  <%}%>
  
  <!-- Create containers for MORPHEUS charts -->
  <% for(var i=0; i < v_morph_metrics.length; i++) { %>
	  <div class="w3-center w3-container" style="padding-top: 2.3em; margin-top:-2.3em" id="<%=v_morph_metrics[i]%>">
    
    <h1 class="w3-xlarge w3-text-black w3-center metric-heading heading w3-light-gray"><b><%=v_morph_metrics[i]%></b></h1>
    <!--<hr style="border-top: 1px solid blue; width:3em;"><p>Hela Digest</p>-->
    <!--<hr style="margin_left: 5em; border-top: 1px solid red; width:3em;"><p>Median</p>-->
    <div id="dash_<%=v_morph_metrics[i]%>" class="chart_parent">

      <!--Chart with overlay-->
        <div id="chart_<%=v_morph_metrics[i]%>"></div>
        <div name="overlayMorpheus" class="overlay" id="overlay_<%=v_morph_metrics[i]%>">
            <div class="overlay_text">...Loading</div>
          </div>
       
    </br>
      <div id="datecontrol_<%=v_morph_metrics[i]%>"></div>
  </div>
</br>
</br>
</br>
</br>
</br>
</br>
  </div>

  <%}%>

<!-- End page content -->
</div>


</html>
